<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>Add a new message:</h1>
    <form method="POST" action="/new">
        <label for="authorName">name:</label>
        <input type="text" id="authorName" name="authorName">
        <label for="messageText">message:</label>
        <input type="text" id="messageText" name="messageText">
        <input type="submit" value="submit">
    </form>

</body>

</html>