body {
  padding: 50px;
  font-family:'Courier New', Courier, monospace;
  color: blue;
}

a {
  color: #00B7FF;
}

div.message {
  display: grid;
  border: 1px solid #00B7FF;
  max-width: 400px;
  margin-bottom: 1em;
}